<div class="data-grid"><%
    var dataGrid = bizCfg.dataGrid;
    var topCfg = dataGrid.top;
    if(topCfg) {
    %>
    <div class="top-operation"><%
        var topCfg = dataGrid.top;
        %>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" ng-click="newRc()">新增</button>
        </div><%
        if(topCfg.searchGroup){ %>
        <div class="form-inline search-group clearfix"><%
            if(topCfg.searchGroup.input) { %>
            <div class="form-group">
                <input type="text" ng-model="searchParams.<%= topCfg.searchGroup.input.ngModel %>" class="form-control" placeholder="<%= topCfg.searchGroup.input.placeholder %>"  ng-keyup="inputKeyup($event)"/>
            </div><%
            } %><%
            if(topCfg.searchGroup.select){ %>
            <div class="form-group">
                <select class="form-control"
                        ng-model="searchParams.<%= topCfg.searchGroup.select.ngModel %>"
                        ng-options="item.value as item.label for item in dataList">
                    <option value="">-请选择-</option>
                </select>
            </div><%
            } %><%
            if(topCfg.searchGroup.btn){ %>
            <button class="btn btn-default" type="button" ng-click="doSearch()"><%= topCfg.searchGroup.btn.text %></button><%
            } %>
        </div><%
        } %><%
        if(topCfg.filterGroup){ %>
        <div class="filter-group form-horizontal"><%
            if(false){ %>
            <div class="form-group">
                <label class="col-xs-2 control-label">{{filter.label}}</label>
                <div class="col-xs-10">
                    <label ng-repeat="item in filter.dataList" class="radio-inline" >
                        <input type="radio" ng-model="searchParams[filter.paramKey]" name="{{filter.paramKey}}" value="{{item.value}}" ng-change="doSearch()"> {{item.label}}
                    </label>
                </div>
            </div><%
            } %>
        </div><%
        } %>
    </div><%
    } %><%
    var tableCfg = dataGrid.gridTable %>
    <div class="datagrid-result mrgb10">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td>序列</td><%
                for(var i = 0,l = tableCfg.cols.length;i < l;i++){ %>
                <td><%= tableCfg.cols[i].text %></td><%
                } %>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rcItem in resources">
                <td>{{$index + 1}}</td><%
                for(var i = 0,l = tableCfg.cols.length;i < l;i++){ %>
                <td>{{rcItem.<%= tableCfg.cols[i].property %>}}</td><%
                } %>
                <td><%
                    for(var i = 0,l = tableCfg.operation.length;i < l;i++){
                        var opBtn = tableCfg.operation[i];
                    %>
                    <button class="btn btn-<%= opBtn.type %> btn-xs" ng-click="<%= opBtn.method || ('opMethod' + i) %>(rcItem,$index)"><%= opBtn.text %></button><%
                    } %>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <pagination class="mrg0 pull-right" total-items="totalItems" previous-text="&lt;&lt;" next-text="&gt;&gt;" ng-model="currentPage" ng-change="doSearch()"></pagination>
</div>