<div class="top-operation">
    <div ng-if="btnsGroup" class="btn-group pull-right">
        <a ng-repeat="btn in btnsGroup" class="btn btn-default" href="{{btn.href}}" ng-click="btn.action()">{{btn.text}}</a>
    </div>
    <div ng-if="searchGroup" class="form-inline search-group clearfix">
        <div ng-if="searchGroup.input" class="form-group">
            <input type="text" ng-model="searchParams[searchGroup.input.paramKey]" class="form-control" placeholder="{{searchGroup.input.placeholder}}"  ng-keyup="inputKeyup($event)"/>
        </div>
        <div ng-if="searchGroup.select" class="form-group">
            <select class="form-control"
                    ng-model="searchParams[searchGroup.select.paramKey]"
                    ng-options="item.value as item.label for item in searchGroup.select.selectList"
                    ng-change="doSearch()">
                <option value="">-请选择-</option>
            </select>
        </div>
        <button ng-if="searchGroup.btn" class="btn btn-default" type="button" ng-click="doSearch()">{{searchGroup.btn.text}}</button>
    </div>
    <div ng-if="filterGroup" class="filter-group form-horizontal">
        <div ng-repeat="filter in filterGroup" class="form-group">
            <label class="col-xs-2 control-label">{{filter.label}}</label>
            <div class="col-xs-10">
                <label ng-repeat="item in filter.dataList" class="radio-inline" >
                    <input type="radio" ng-model="searchParams[filter.paramKey]" name="{{filter.paramKey}}" value="{{item.value}}" ng-change="doSearch()"> {{item.label}}
                </label>
            </div>
        </div>
    </div>
</div>