div.error,
div.validate-error {
  display: none;
}
.has-error div.error,
.has-error div.validate-error {
  display: block;
  margin-top: 10px;
  color: #a94442;
}
.data-grid .search-group {
  margin-bottom: 10px;
}
.data-grid .filter-group {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.data-grid .filter-group .form-group {
  margin-bottom: 5px;
}
.data-grid .filter-group .control-label {
  width: 90px;
  padding-right: 0;
  text-align: left;
}
.data-grid .filter-group .col-xs-10 {
  padding-left: 0;
}
