<div class="panel-group menu" ng-controller="SideMenuCtrl">
    <div class="panel panel-default" ng-repeat="menu in menus">
        <div class="panel-heading" ng-click="menuHeadClick($index)">
            <h4 class="panel-title">
                {{menu.name}}
            </h4>
        </div>
        <div class="panel-collapse collapse in" collapse="!menuOpened[$index]">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="item in menu.children" ng-class="{active: isActive(item)}" >
                        <a ng-href="{{(item.children && item.children.length) ? '' : item.href}}" ng-click="item.isExpand = !item.isExpand">{{item.name}} <span ng-if="item.children"><i ng-hide="!!item.isExpand" class="fa fa-caret-right"></i><i ng-show="!!item.isExpand" class="fa fa-caret-down"></i></span></a>
                        <ul ng-if="item.children" ng-show="!!item.isExpand" class="nav nav-pills nav-stacked">
                            <li ng-repeat="childItem in item.children" ng-class="{active: isActive(childItem,item)}">
                                <a ng-href="{{childItem.href}}">{{childItem.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>